body {
    font-size: 62.5%;
    margin: 2.5%;
    padding: 2.5%;
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    background-size: 100%;
    background-image: url("/background.jpg");
}

h1 {
    color: white;
    font-size: 8em;
    text-shadow: 2px 2px 4px black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
    width: 100%;
}

.search input {
    width: 40%;
    height: 2em;
    font-size: 3em;
    padding-left: 1%;
}

.search button {
    width: 5%;
}

.search button svg {
    width: 100%;
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 5em;
    padding-bottom: 2em;
    background-size: cover;
    background-image: url("/bcg2.jpg");
    padding-top: 1em;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 45px;
}

.container img {
    border-radius: 45px;
}

.container:hover, .backButton:hover {
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
}

.movieTitle {
    font-size: 3em;
    width: 80%;
    text-align: center;
    margin-bottom: 0.4em;
    color: white;
}

.year {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.newContainer {
    display: flex;
}

.poster {
    height: max-content;
}

.rightBlock {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    width: 80%;
}

.newTitle {
    font-size: 5em;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

.description {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-bottom: 5em;
}

.note, .descYear, .duration, .casting {
    color: white;
    font-size: 1.5em;
    margin-top: 1em;
}

.navButtons {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-top: 4em;
    justify-content: center;

}

.navButtons a {
    color: white;
    margin: 1em 0.5%;
    font-size: 2em;

}

.backButton {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5em;
    font-size: 2em;
    border-radius: 15px;
    width: fit-content;
    align-self: center;
    margin-top: 2em;
}


@media only screen and (max-width: 768px) {

    h1 {
        font-size: 4em;
        text-align: center;
    }

    .search input {
        width: 60%;
        height: 2em;
        font-size: 3em;
        padding-left: 1%;
    }

    .search button {
        width: 20%;
    }

    .newContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 375px) {

    h1 {
        text-align: center;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
        width: 100%;
    }

    .search input {
        width: 100%;
    }

    .search button {
        width: 100%;
        height: 4em;
    }

    .navButtons {
        margin-top: 1em;
    }

    .navButtons a {
        margin: 1em 5%;
    }

    .rightBlock {
        width: 90%;
    }
}